DataSetConvertingSample1_WFA/.vs/DataSetConvertingSample1_WFA/v14/.suo
DataSetConvertingSample1_WFA/DataSetConvertingSample1_WFA/bin/Debug/DataSetConvertingSample1_WFA.exe
DataSetConvertingSample1_WFA/DataSetConvertingSample1_WFA/bin/Debug/DataSetConvertingSample1_WFA.pdb
DataSetConvertingSample1_WFA/DataSetConvertingSample1_WFA/bin/Debug/DataSetConvertingSample1_WFA.vshost.exe
DataSetConvertingSample1_WFA/DataSetConvertingSample1_WFA/bin/Debug/Net.FreeORM.DataSetConversion.dll
DataSetConvertingSample1_WFA/DataSetConvertingSample1_WFA/bin/Debug/Net.FreeORM.DataSetConversion.pdb
DataSetConvertingSample1_WFA/DataSetConvertingSample1_WFA/obj/Debug/DataSetConvertingSample1_WFA.csproj.FileListAbsolute.txt
DataSetConvertingSample1_WFA/DataSetConvertingSample1_WFA/obj/Debug/DataSetConvertingSample1_WFA.csproj.GenerateResource.Cache
DataSetConvertingSample1_WFA/DataSetConvertingSample1_WFA/obj/Debug/DataSetConvertingSample1_WFA.csprojResolveAssemblyReference.cache
DataSetConvertingSample1_WFA/DataSetConvertingSample1_WFA/obj/Debug/DataSetConvertingSample1_WFA.exe
DataSetConvertingSample1_WFA/DataSetConvertingSample1_WFA/obj/Debug/DataSetConvertingSample1_WFA.pdb
DataSetConvertingSample1_WFA/DataSetConvertingSample1_WFA/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DataSetConvertingSample1_WFA/Net.FreeORM.DataSetConversion/bin/Debug/Net.FreeORM.DataSetConversion.dll
DataSetConvertingSample1_WFA/Net.FreeORM.DataSetConversion/bin/Debug/Net.FreeORM.DataSetConversion.pdb
DataSetConvertingSample1_WFA/Net.FreeORM.DataSetConversion/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DataSetConvertingSample1_WFA/Net.FreeORM.DataSetConversion/obj/Debug/Net.FreeORM.DataSetConversion.csproj.FileListAbsolute.txt
DataSetConvertingSample1_WFA/Net.FreeORM.DataSetConversion/obj/Debug/Net.FreeORM.DataSetConversion.dll
DataSetConvertingSample1_WFA/Net.FreeORM.DataSetConversion/obj/Debug/Net.FreeORM.DataSetConversion.pdb
