DataSetConvertingSample1_WFA/DataSetConvertingSample1_WFA/obj/Debug/DataSetConvertingSample1_WFA.csproj.FileListAbsolute.txt
DataSetConvertingSample1_WFA/Net.FreeORM.DataSetConversion/obj/Debug/Net.FreeORM.DataSetConversion.csproj.FileListAbsolute.txt
